<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
  <div class="jumbotron">
      <ul class="nav nav-pills pull-right">
        <!--<li><a href="/">Home</a></li>-->
      </ul>
      <a href="/"><h3 class="text-muted">LEADME</h3></a>
      <p>
          <a href="/member/v2/mypage"><h4 class="text-muted">마이페이지</h4></a>
          <a href="/member/v2"><h4 class="text-muted">회원가입</h4></a>
          <a href="/members/v2"><h4 class="text-muted">회원목록</h4></a>
      </p>
  </div>
</div>
