<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
  <div class="jumbotron">
      <ul class="nav nav-pills pull-right">
        <!--<li><a href="/">Home</a></li>-->
      <a href="/"><h3 class="text-muted">LEADME</h3></a>
      </ul>
      <p>
          <a href="/member/v2/mypage" class="text-muted">마이페이지</a>
          <a href="/member/v2" class="text-muted">회원가입</a>
          <a href="/members/v2" class="text-muted">회원목록</a>
      </p>
  </div>
</div>
