<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>
 .fieldError {
 border-color: #bd2130;
 }

</style>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <form role="form" action="/guides/v2" th:object="${guideForm}" method="post">
        <div class="form-group">
            <label th:for="name">설명</label>
            <input type="text" th:field="*{desc}" class="form-control" placeholder="설명을 입력하세요">
        </div>
         <br/>
        <button type="submit" class="btn btn-primary">가이드신청</button>
    </form>
    <br/>
    <form role="form" action="/members/v2/update" th:object="${memberForm}" method="post">
        <div class="form-group">
            <label th:for="email">이메일</label>
            <input type="text" th:field="*{email}" th:value="${member.email}" class="form-control" placeholder="이메일을 입력하세요" readonly>
        </div>
        <div class="form-group">
            <label th:for="name">이름</label>
            <input type="text" th:field="*{name}" th:value="${member.name}" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="pass">비밀번호</label>
            <input type="text" th:field="*{pass}" th:value="${member.pass}" class="form-control" placeholder="비밀번호를 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="phone">전화번호</label>
            <input type="text" th:field="*{phone}" th:value="${member.phone}" class="form-control" placeholder="전화번호를 입력하세요">
        </div>
        <div class="form-group" style="display:none;">
            <label th:for="memberId">#</label>
            <input type="text" th:field="*{memberId}" th:value="${member.memberId}" class="form-control">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
    <br/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>프로그램</th>
                <th>프로그램일시</th>
                <th>가이드</th>
                <th>주문일시</th>
                <th>결제일시</th>
                <th>주문상태</th>
                <th>가격</th>
                <th>결제방법</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.orderId}"></td>
                <td th:text="${order.progName}"></td>
                <td th:text="${order.progDate}"></td>
                <td th:text="${order.guideName}"></td>
                <td th:text="${order.orderDate}"></td>
                <td th:text="${order.payDate}"></td>
                <td th:text="${order.status}"></td>
                <td th:text="${order.price}"></td>
                <td th:text="${order.payment}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
    <p>
        <a href="/members/v2/delete/1" method="post" class="text-muted">회원탈퇴</a>
    </p>
    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>
